*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}
body {
    font-family: var(--main-font);
    background-color: var(--bg-color);
    font-size: var(--main-size);
    color: var(--main-color);
    outline-color: var(--accent-color-one);
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    margin: 0;
}
.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 32px;
    border-radius: 4px;
    color: var(--main-color);
    background-color: var(--accent-color-three);
    transition: background-color .3s ease;
    transition: opacity .2s ease;
    

    &:hover {
        opacity: .9;
    }
    &:active {
        opacity: 1;
    }
}