:root {
    
    /* COLORS */
    --bg-color: #141414;
    --desc-color: #999999;
    --accent-color-one: #703BF7;
    --accent-color-two: #fcfcfc;
    --accent-color-three: #8254f8;
    --accent-color-four: #1A1A1A;
    --accent-color-five: #262626;
    --border-color: #333333;
    --main-color: #FFFFFF;

    /* FONTS */
    --main-font: 'Urbanist', sans-serif;
    --main-size: 16px;
    
}