.company {
    padding: 100px 0 30px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 80px;
        background-color: var(--main-color);
        top: -40px;
        left: 50%;
    }
}
.company-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.company-content {
    max-width: 540px;
    text-align: center;
    padding-bottom: 24px;
}
.company-content--title {
    margin-bottom: 16px;
}
.company-content--desc {
    font-size: 16px;
    line-height: 24px;
}
.company-partner {
    display: none;
    align-content: center;
    justify-content: space-around;
    max-width: 900px;
    width: 100%;
    margin-bottom: 30px;

    & img:last-child {
        margin-top: 15px;
    }
}
.company-ceo {
    max-width: 768px;
    margin-top: 80px;
    padding: 60px 38px 22px;
    border-radius: 6px;
    position: relative;
    text-align: center;
    border: 1px solid var(--accent-color-one);
    background-color: var(--accent-color-four);
}
.company-quotation-mark {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -43px;
    left: 54%;
}
.company-ceo--image {
    width: 96px;
    height: 96px;
    position: absolute;
    top: -48px;
    left: 50%;
    border-radius: 50px;
    transform: translateX(-50%);
}
.company-ceo--desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}
.company-ceo--name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}
.company-ceo--position {
    font-size: 14px;
    line-height: 20px;
}
.company-ceo--link {
    color: rgb(14 165 233);
}

@media screen and (min-width: 1024px) {
    .company-partner {
        display: flex;
    }
}
@media screen and (min-width: 1440px) {
    .company-content {
        max-width: 768px;
        margin-bottom: 40px;
    }
    .company-content--desc {
        font-size: 20px;
        line-height: 28px;
    }
    .company-ceo {
        padding: 80px 48px 32px;
    }
    .company-ceo--desc {
        font-size: 20px;
        line-height: 28px;
    }
    .company-ceo--name {
        font-size: 18px;
    }
    .company-ceo--position {
        font-size: 16px;
    }
}