/* HEAD */
.head {
    background-image: url('/images/header/bg-header.svg');
    background-size: 1000px;
    background-position: center;
    border-bottom: 1px solid var(--accent-color-seven);
}
.head-container {
    max-width: 1240px;
}
.head-row {
    display: flex;
    align-items: center;
    column-gap: 6px;
    padding: 16px 0;
}
.head-logo {
    transition: opacity .3s ease;
    outline-color: var(--accent-color-one);
    & img {
        display: block;
        width: 130px;
    }
    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
}
.head-nav {
    display: none;
    align-items: center;
    justify-content: space-around;
    max-width: 468px;
    width: 100%;
    height: 44px;
    padding: 0 32px;
    border: 2px solid var(--accent-color-seven);
    border-radius: 50px;
    background-color: var(--bg-color);
}
.head-nav--link {
    font-size: 20px;
    font-weight: 400;
    color: var(--main-color);
    transition: color .3s ease;
    outline-color: var(--accent-color-one);

    &:hover {
        color: var(--accent-color-one);
    }
}
.head-sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 15px;
    left: 10px;
    bottom: 15px;
    width: 70%;
    padding: 80px 30px 40px;
    border-radius: 10px;
    transform: translateX(-120%);
    box-shadow: 0 2px 6px 3px rgba(39, 39, 39, 0.9);
    background-color: var(--accent-color-four);
    z-index: 2;
    transition: all 1.2s ease;

    & .head-nav--link {
        display: inline-block !important;
        margin-bottom: 20px;
    }
}
.head-sidebar.show {
    transform: translateX(0);
}
.sidebar-closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    width: 34px;
    height: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--accent-color-one);
    transition: opacity .3s ease;

    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
}
.head-shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-120%);
    background-color: rgba(20, 20, 20, .9);
    z-index: 1;
    transition: all .7s ease;

}
.head-shade.show {
    transform: translateX(0);
}
.head-humburger--btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: var(--main-color);
    background-color: var(--accent-color-one);
    transition: opacity .3s ease;
    margin-left: auto;

    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
}
.head-action {
    display: none;
    column-gap: 10px;
}
.head-action--btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--accent-color-four);
    padding: 4px;
    border-radius: 5px;
    transition: opacity .3s ease;;
    outline-color: var(--accent-color-one);
    
    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
}
.login, .sign-up {
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color);
}
.mode {
    cursor: pointer;
    width: 50px;
}
.github {
    width: 30px;
}
.head-github--btn {
    display: flex;
    align-items: center;
    transition: opacity .3s ease;;
    outline-color: var(--accent-color-one);
    
    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
} 


/* HERO */
.hero {
    background-image: url('/images/header/circle.svg');
    background-position: center;
    background-position: center 30px;
    background-repeat: no-repeat;
    background-size: 1350px;
}
.hero-row {
    display: flex;
    justify-content: center;
    padding: 120px 0 80px;
}
.hero-content {
    text-align: center;
    padding-bottom: 64px;
}
.hero-content--title {
    font-size: 40px;
    margin-bottom: 16px;
    letter-spacing: -1px;

    & span {
        color: var(--accent-color-three);
        position: relative;
        z-index: -1;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(to right, transparent, rgba(20, 20, 20, .9));
        }
    }
}
.hero-content--desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
    color: var(--desc-color);
}
.hero-btns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.learn-btn {
    background-color: var(--accent-color-six);
}

@media screen and (min-width: 768px) {
    .head-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
    }
    .head-nav {
        display: flex;
        max-width: 400px;
        height: 38px;
    }
    .head-sidebar,
    .head-shade,
    .head-humburger--btn {
        display: none;
    }
    .head-nav--link {
        font-size: 16px;
    }
    .hero-content {
        max-width: 680px;
        text-align: center;
        padding-bottom: 64px;
    }
    .hero-btns {
        flex-direction: row;
    }
}
@media screen and (min-width: 1024px) {
    .head-action {
        display: flex;
    }
    .head-github--btn {
        display: none;
    }
    .head-logo img {
        width: 190px;
    }
    .hero-row {
        padding: 150px 0 100px;
    }
    .hero-content--title {
        font-size: 56px;
    }
    .hero-content--desc {
        font-size: 18px;
    }
}
@media screen and (min-width: 1440px) {
    .head-container {
        max-width: 1360px;
    }
    .head-logo img {
        width: 240px;
    }
    .head-nav {
        display: flex;
        max-width: 460px;
        height: 48px;
    }
    .head-nav--link {
        font-size: 20px;
    }
    /* HERO */
    .hero-row {
        padding: 185px 0 120px;
    }
    .hero-content {
        max-width: 760px;
    }
    .hero-content--title {
        font-size: 60px;
    }
    .hero-content--desc {
        font-size: 20px;
        line-height: 28px;
    }
}