.products-list-section {
    margin: 100px 0;
}
.products-container {
    max-width: 1300px;
}
.products-row {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    flex-direction: column;
}
.loader {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 42px;
    transform: translateY(-50%);
}
.products-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1010px;
    width: 100%;
}

.products-list--item {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding: 28px;
    border: 1px solid var(--accent-color-five);
    border-radius: 10px;
}
.products-item--image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top center;
    border-radius: 10px;
    margin-bottom: 28px;
}
.products-item--title {
    font-size: 20px;
    margin-bottom: 8px;
}
.products-item--desc {
    font-size: 12px;
    color: var(--desc-color);
    margin-bottom: 16px;
}
.prducts-item--inner {
    display: flex;
    align-items: center;
    margin-top: auto;
}
.product-item--price {
    font-size: 18px;
    font-weight: 600;
    margin-left: 60px;
}
.products-item--btn {
    font-size: 18px;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--accent-color-one);
    transition: background-color .3s ease;

    &:hover {
        background-color: var(--accent-color-three);
    }
    &:active {
        background-color: var(--accent-color-one);
    }
}
.products-categories {
    display: none;
    flex-direction: column;
    row-gap: 10px;
    // max-width: 200px;   
    width: 100%;
    height: 350px;
    border: 1px solid var(--accent-color-five);
    padding: 40px 10px;
}
.product-categories--btn {
    // max-width: 170px;
    // max-width: 100%;
    height: 35px;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
    color: var(--main-color);
    background-color: var(--accent-color-five);
    cursor: pointer;
    transition: background-color .3s ease;
    text-align: left;

    &:hover {
        background-color: var(--accent-color-three);
    }
}
.head-action-card {
    display: flex;
}
.head-card {
    cursor: pointer;
    position: relative;
}
.head-card--count {
    position: absolute;
    top: -3px;
    right: -2px;
    font-size: 12px;
    padding: 3px 5px 2px;
    border-radius: 50px;
    color: var(--main-color);
    background-color: var(--accent-color-one);
}
.head-sidebar.active {
    transform: translateX(0);
}
.head-shade.active {
    transform: translateX(0);
}
/* SIDEBAR */

.sidebar{
    position: fixed;
    // width: 500px;
    max-width: 80%;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 10px;
    padding: 10px 0;
    transform: translateX(100%);
    transition: all 1.3s ease-out;
}
.sidebar.active {
    transform: translateX(0);
}
.sidebar-row {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    border-radius: 10px;
    overflow-y:scroll;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    background-color: var(--accent-color-four);
}
.sidebar-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.sidebar-item--sum  {
    background-color: transparent;
    font-weight: 500;
}
.sidebar-list--item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .2);
}
.sidebar-item--inner {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
}
.sidebar-item--row {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    & .sidebar-item--title {
        font-size: 10px;
    }
}
.sidebar-item--image {
    flex-shrink: 0;
    width: 80px;
    height: 60px;
    object-fit: cover;
    object-position: top center;
    border-radius: 5px;
}
.sidebar-count {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.sidebar-count--inner {
    display: flex;    
    align-items: center;
    column-gap: 5px;
}
.sidebar-count--decriment,
.sidebar-count--increment {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--accent-color-four);
    background-color: var(--accent-color-one);
    transition: background-color .3s ease;

    &:hover{
        background-color: var(--accent-color-three);
    }
    &:active{
        background-color: var(--accent-color-one);
    }
}
.sidebar-close--btn {
    font-size: 18px;
    width: 30px;
    height: 30px;
    color: var(--main-color);
    background-color: var(--accent-color-one);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease;

    &:hover {
        background-color: var(--accent-color-one);
    }
    &:active{
        background-color: var(--accent-color-three);
    }
}
.sidebar-item--price {
    font-weight: 500;
}
.sidebar-count--remove {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--accent-color-one);
    transition: background-color .3s ease;

    &:hover{
        background-color: var(--accent-color-three);
    }
    &:active{
        background-color: var(--accent-color-one);
    }
}